<!DOCTYPE html>
<html>
<head>
    <title>Home page - eshmakar.ru</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<ul>
    <li><a target="_blank" href="hello">hello</a></li>
    <li><a target="_blank" href="for/0-100">Диапазон цифр</a></li>
    <li><a target="_blank" href="123">Степень введенного числа на самого себя</a></li>
    <li><a target="_blank" href="getMessageAndTime">Ручное указывание степени и числа</a></li>
    <li><a target="_blank" href="getMessageAndTime">Текст наоборот</a></li>
    <li><a target="_blank" href="getMessageAndTime">Текст с прописными, ЗАГЛАВНЫМИ буквами</a></li>
    <li><a target="_blank" href="random">Рандомные сайты</a></li>
</ul>
</body>
</html>